@page
@model TriviaSpark.Web.Pages.IndexModel
@{
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Trivia Spark (Early Alpha!) </h1>
    <p class="lead">Play trivia and test your knowledge</p>
    <hr class="my-4">
    <p>
        Developed with the help Chat GPT and featuring questions from the Open Trivia DB.
        Read the article that describes
        <a target="_blank" href="https://markhazleton.controlorigins.com/trivia-spark-development.html">the development of Trivia Spark</a>.
    </p>
    <a class="btn btn-primary btn-lg" href="/Identity/Account/Register" role="button">Register and Play!</a>
</div>

<div>
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <p>
                We're excited to bring you an exciting new trivia game that will put your knowledge to the test.
                Developed in collaboration with Chat GPT, Trivia Spark is a fast-paced, fun-filled game that's perfect for players of all ages.
            </p>
            <p>
                We've sourced all of our questions from the Open Trivia Database, so you know you're getting the most up-to-date and
                accurate information possible. And with multiple game modes to choose from, 
                you'll never run out of challenging questions to answer.(feature coming soon)
            </p>
            <p>
                We're always looking for feedback to make Trivia Spark even better, so please let us know what you think by leaving a comment
                on the <a target="_blank" href="https://github.com/controlorigins/TriviaSpark/discussions">GitHub discussions page</a>.
            </p>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>

