@page
@model TriviaSpark.Web.Pages.IndexModel
@{
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Trivia Spark (Early Alpha!) </h1>
    <p class="lead">Play trivia and test your knowledge in a fun and exciting way!</p>
    <hr class="my-4">
    <p>Developed with Chat GPT and featuring questions from the Open Trivia DB.</p>
    <a class="btn btn-primary btn-lg" href="/Identity/Account/Register" role="button">Register and Play!</a>
</div>

<div>
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <p>
                We're excited to bring you an exciting new trivia game that will put your knowledge to the test.
                Developed in collaboration with Chat GPT, Trivia Spark is a fast-paced, fun-filled game that's perfect for players of all ages.
            </p>
            <p>
                We've sourced all of our questions from the Open Trivia Database, so you know you're getting the most up-to-date and
                accurate information possible. And with multiple game modes to choose from, you'll never run out of challenging questions to answer.
            </p>

            <p>
                Whether you're playing against friends or testing your own knowledge, Trivia Spark is the perfect way to spend your free time.
                So why not register now and give it a try?
            </p>

            <p>
                We're always looking for feedback to make Trivia Spark even better, so please let us know what you think by leaving a comment
                on our GitHub project page.
            </p>

            <p>
                And don't forget to check out our blog post on the development of Trivia Spark, which includes a behind-the-scenes
                look at how we collaborated with Chat GPT to bring this exciting new game to life.
            </p>

        </div>
        <div class="card-footer">
        </div>
    </div>

</div>

