@page
@using TriviaSpark.Core.Match;
@model             EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Match</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Match.MatchId" />
            <div class="form-group">
                <label asp-for="Match.UserId" class="control-label"></label>
                <select asp-for="Match.UserId" class="form-control" asp-items="Model.Users"></select>
                <span asp-validation-for="Match.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Match.MatchName" class="control-label"></label>
                <input asp-for="Match.MatchName" class="form-control" />
                <span asp-validation-for="Match.MatchName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Match.MatchMode" class="control-label"></label>
                <select asp-for="Match.MatchMode" class="form-control" asp-items="Html.GetEnumSelectList<MatchMode>()"></select>
                <span asp-validation-for="Match.MatchMode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Match.CreatedDate" class="control-label"></label>
                <input asp-for="Match.CreatedDate" class="form-control" />
                <span asp-validation-for="Match.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Match.ModifiedDate" class="control-label"></label>
                <input asp-for="Match.ModifiedDate" class="form-control" />
                <span asp-validation-for="Match.ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
